# Turn verbose logging on.
#log verbose append:"%4\%5"

# Set criteria for comparison
criteria binary

# Load source and target folders.
load ftp://%1@%2/<path_to_the_parent_directory>/ ftp://%1@%3/<path_to_the_parent_directory>/

#filter files that you are interested in. you can use space to separate file patterns. you can use wild cards like *.xml to compare all files with the same extension.
filter bin/<first_file>.dll bin/<second_file>.dll

# Expand to compare folders and sub-folders.
expand all

# select all
select all

# Generate a report of differences.
folder-report layout:side-by-side options:display-all title:"<b> %2 </b> vs <b> %3 </b> comparison" output-to:"%4\%6" output-options:html-color
